[Unit]
Description=belnet Auth Server
Wants=network-online.target
After=network-online.target


[Service]
User=nobody
SyslogIdentifier=belnet-auth
ExecStart=/usr/bin/python3 -m belnet.auth --bind tcp://0.0.0.0:5555/ --cmd /usr/local/exit-provider/check.sh

[Install]
WantedBy=multi-user.target